aiogram==3.22.0
httpx==0.28.1
pymorphy2==0.9.1
pytz==2025.2
SQLAlchemy==2.0.43
alembic==1.16.4
coloredlogs==15.0.1
cachetools==6.1.0
python-dateutil==2.9.0.post0
pydantic-settings==2.10.1
asyncpg==0.30.0
tenacity==9.1.2
fake-useragent==2.2.0
pytest==8.4.1
ruff==0.12.10
isort==6.0.1
numpy==2.3.2
