name: Test. Build. Deploy.

on:
  push:
    branches:
      - master

jobs:
  # Ensure that when you comment out a job like this, the indentation is correct.
  # The 'deploy' job should start at the same level of indentation as 'build-push'.

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # The following step should be indented 2 spaces within 'steps'.
      - name: Executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd ${{ secrets.FOLDER_PATH }}
            # Make sure that any commented lines here maintain the proper indentation.
            # Indentation within 'script' should also be consistent.
            sudo docker compose down
